PORT=4000
JWT_SECRET=change-this-in-production
SUPPORT_WORK_START=09:00
SUPPORT_WORK_END=21:00
SUPPORT_TIMEZONE=Asia/Kolkata
OWNER_NAME=Jashan Deep Singh
OWNER_DISCORD=jxshan84
OWNER_EMAIL=sasukeuchicha46535@gmail.com
SUPPORT_DISCORD=https://discord.gg/3B5PF9SC8j
